[Unit]
Description=Update ZeroTier for DronService
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/dronservice-update-zerotier
